<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/main.css" />
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
		<title>Portfolio</title>
	</head>
	<body>
		<div class="frame">
			<div class="main_frame">
				<div class="left_frame">
					<div class="left_1">
						<div class="left_1-1"><img src="images/profile.png" alt="" /></div>
						<div class="left_1-2"><%=user.name%></div>
						<div class="left_1-3"><%=user.profession%></div>
						<div class="left-icons">
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/facebook.svg" class="icon-1" />
								</div>
							</a>
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/instagram.svg" class="icon-1" />
								</div>
							</a>
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/twitter.svg" class="icon-1" />
								</div>
							</a>
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/dribbble.svg" class="icon-1" />
								</div>
							</a>
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/youtube.svg" class="icon-1" />
								</div>
							</a>
							<a class="link_href" href="">
								<div class="icon">
									<img src="icon/linkedin.svg" class="icon-1" />
								</div>
							</a>
						</div>
					</div>
					<div class="marginer"></div>
					<div class="left_2">
						<div class="left_2-1">
							<div class="col-items">
								<p class="row-item">Age:</p>
								<%=user.age%>
							</div>
							<div class="col-items">
								<p class="row-item">Residence:</p>
								<%=user.residence%>
							</div>
							<div class="col-items">
								<p class="row-item">Freelance:</p>
								<p style="color: green">Available</p>
							</div>
							<div class="col-items">
								<p class="row-item">Address:</p>
								<%=user.address%>
							</div>
						</div>
					</div>
					<div class="marginer"></div>

					<div class="left_3">
						<div class="h-text">Languages</div>
						<div class="lan-items">
							<div>
								<div class="p-text">
									<%=user.languages[0]%>
									<p>100%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line nat"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.languages[1]%>
									<p>50%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line kor"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.languages[2]%>
									<p>80%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line eng"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="marginer"></div>
					<div class="left_4">
						<div class="h-text">Skills</div>
						<div class="lan-items">
							<div>
								<div class="p-text">
									<%=user.skills[0]%>
									<p>90%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line" style="width: 90%"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.skills[1]%>
									<p>85%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line" style="width: 85%"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.skills[2]%>
									<p>80%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line" style="width: 80%"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.skills[3]%>
									<p>75%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line" style="width: 75%"></div>
								</div>
							</div>
							<div>
								<div class="p-text">
									<%=user.skills[4]%>
									<p>85%</p>
								</div>
								<div class="outer-border">
									<div class="inner-line" style="width: 85%"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="marginer"></div>

					<div class="left_5">
						<div class="h-text">Extra Skills</div>
						<div class="lan-items" style="margin-top: 10px">
							<div class="extra-skills">
								<img src="icon/ex-skills.svg" />
								<%=user.extra_skills[0]%>
							</div>
							<div class="extra-skills">
								<img src="icon/ex-skills.svg" />
								<%=user.extra_skills[1]%>
							</div>
							<div class="extra-skills">
								<img src="icon/ex-skills.svg" />
								<%=user.extra_skills[2]%>
							</div>
							<div class="extra-skills">
								<img src="icon/ex-skills.svg" />
								<%=user.extra_skills[3]%>
							</div>
						</div>
					</div>
					<div
						class="marginer"
						style="margin-top: -10px; margin-bottom: 10px"
					></div>
					<div class="left-6">
						<div class="download-box">
							<h4>DOWNLOAD CV</h4>
							<img src="icon/download.svg" alt="" />
						</div>
					</div>
				</div>
				<div class="midd_frame"></div>
				<div class="right_frame"></div>
			</div>
		</div>
	</body>
</html>
